API_ID=22731774
API_HASH=22d0f04814bc5d9ef2bda118c4c1c21a
BOT_TOKEN=8726780537:AAFRcZ4tjBC-pYPTSJ7Axwk23VCrQ_D89X8
OWNER_ID=-8172258194
MONGO_DB_URI=mongodb+srv://YAKSHAN2005:YAKSHAN2005@yakshan2005.azpt2cj.mongodb.net/
LOGGER_ID=-1004487406040
STRING_SESSION=
OPENROUTER_KEY=
# Optional: Local Bot API server URL for colored inline buttons
# If not set, will fallback to api.telegram.org (colors won't work)
# LOCAL_BOT_API_URL=http://localhost:8081
